<div class="flex h-screen items-center justify-center px-4 py-12 sm:px-6 lg:px-8 bg-white">
  <div class="w-full max-w-md space-y-8">
    <div>
      <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
        alt="Your Company">
      <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">
        <span *ngIf="state === 'phone'">Sign in - Phone Number</span>
        <span *ngIf="state === 'email'">Sign in - E-Mail Address</span>
        <span *ngIf="state === 'otp_code'">Sign in - Enter OTP Code</span>

      </h2>
      <div *ngIf="state !== 'otp_code'" (click)="updateState()" class="mt-2 text-center text-sm text-gray-600">
        <div class="cursor-pointer uppercase font-medium text-indigo-600 hover:text-indigo-500">
          <span *ngIf="state === 'phone'">use e-mail instead</span>
          <span *ngIf="state === 'email'">use phone instead</span>
        </div>
      </div>
    </div>
    <form class="mt-8 space-y-6" action="#" method="POST">
      <input type="hidden" name="remember" value="true">
      <div class="-space-y-px rounded-md shadow-sm">
        <div *ngIf="state === 'email'">
          <label for="email-address" class="sr-only">Email address</label>
          <input id="email-address" [(ngModel)]="email" name="email" type="email" autocomplete="email" (ngModelChange)="handleEmailValidator($event)"
            class="px-4 relative block w-full rounded-t-md border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:z-10 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            placeholder="Email address">
        </div>
        <div *ngIf="state === 'phone'">
          <label for="phoneInput" class="sr-only">Phone Number</label>
          <input id="phoneInput" [(ngModel)]="phone" name="phone" type="tel" (ngModelChange)="handlePhoneValidator($event)"
            class="px-4 relative block !w-full rounded-t-md border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:z-10 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            placeholder="Phone Number">
        </div>
        <div *ngIf="state === 'otp_code'">
          <label for="otp_code" class="sr-only">OTP Code</label>
          <input id="otp_code" [(ngModel)]="otp_code" name="otp_code" (ngModelChange)="handleOtpValidator($event)"
            class="px-4 relative block w-full rounded-t-md border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:z-10 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            placeholder="OTP Code (123531)">
        </div>
      </div>
      <div class="!mt-2 !-mb-5">
        <p *ngIf="error.length" class="w-full text-left text-sm !py-0 mx-0 my-0 text-red-500">{{error}}</p>
      </div>
      <div class="flex items-center justify-between">
        <div class="flex items-center">
          <input id="remember-me" (click)="rememberMeChecked = !rememberMeChecked" name="remember-me" type="checkbox"
            [checked]="rememberMeChecked"
            class="pointer-events-none h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
          <label for="remember-me" class="ml-2 block text-sm text-gray-900">Remember me</label>
        </div>

        <div class="text-sm cursor-pointer">
          <div (click)="forgotAccount()" class="font-medium text-indigo-600 hover:text-indigo-500">Forgot your account ?</div>
        </div>
      </div>

      <div>
        <button type="submit" (click)="handleAction()" [class.!bg-gray-600]="!go_to_otp"
          class="group relative flex w-full justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
          <span class="absolute inset-y-0 left-0 flex items-center pl-3">
            <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" viewBox="0 0 20 20" fill="currentColor"
              aria-hidden="true">
              <path fill-rule="evenodd"
                d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z"
                clip-rule="evenodd" />
            </svg>
          </span>
          <span class="uppercase" *ngIf="state !== 'otp_code' && !loading">Send OTP Code</span>
          <span class="uppercase" *ngIf="state === 'otp_code' && !loading">Validate</span>
          <p class="flex" *ngIf="loading">
            <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
              <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
              <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
            </svg>
            Processing...
          </p>
        </button>
      </div>
    </form>
  </div>
</div>
